<h1>New User!</h1>

<form action="<%=users_path %>" method="post">
  <%= auth_token %>
  
  <label for="user_email">Email Address:</label>
  <input
    type="text"
    name="user[email]"
    id="user_email"
    value="<%=@user.email %>">

  <br>

  <label for="user_password">Password:</label>
  <input
    type="password"
    name="user[password]"
    id="user_password"
    value="<%=@user.password%>">

  <input type="submit">
</form>
